[run]
branch = True

[report]
exclude_lines =
	# Have to re-enable the standard pragma
	pragma: no cover

	# Don't complain about missing debug-only code:
	def __repr__
	if self\.debug

	# Don't complain if tests don't hit defensive assertion code:
	raise AssertionError
	raise NotImplementedError

	# Don't complain if non-runnable code isn't run:
	if 0:
	if __name__ == .__main__.:

	get_testdata_file()
	self.fail()

	# -*- coding: utf-8 -*-
	-*- coding: utf-8 -*-

ignore_errors = True
precision = 2

omit =
	*/python?.?/*
	*/site-packages/nose/*
	tests/*

[html]
directory = coverage_html_report