<!DOCTYPE html><br/>

{% from '_statichelpers.html' import static_file, render_disqus, render_google_analytics %}
{% from '_dochelpers.html' import render_html %}

{% macro render_feature_list(feature_list) %}
<!-- Three columns of text below the carousel -->
<div class="row">
{% for feature in feature_list %}
<div class="col-lg-4">
	<img data-src="{{ static_file('js/holder.js/140x140') }}" width="140" height="140">
	<h2>{{ feature.title }}</h2>
	{{ render_html(feature.html) }}
	<p><a class="btn btn-default" href="{{ feature.btn_link }}" role="button" target="_blank">{{ feature.btn_text}}</a></p>
</div><!-- /.col-lg-4 -->
{% endfor %}
</div><!-- /.row -->
{% endmacro %}

<html lang="ko">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<meta name="author" content="">
		<!--<link rel="shortcut icon" href="favicon.png">-->

		<title>{{ title }}</title>

		<!-- Bootstrap core CSS -->
		<link href="{{ static_file('bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
		<link href="{{ static_file('bootstrap/css/bootstrap-theme.min.css') }}" rel="stylesheet">

		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
			<script src="{{ static_file('js/html5shiv.js') }}"></script>
			<script src="{{ static_file('js/respond.min.js') }}"></script>
		<![endif]-->

		<!-- Custom styles for this template -->
		<link href="{{ static_file('css/style.css') }}" rel="stylesheet">

		{{ render_google_analytics() }}
	</head>
<!-- NAVBAR
================================================== -->
	<body>
		<!-- Main jumbotron for a primary marketing message or call to action -->
		<div class="container">
	    <div class="jumbotron info-header">
	      <div class="container info-header-content">
	        <h1>{{ jumbotron.title }}</h1>
	        <h2>{{ jumbotron.subtitle }}</h2>
	        {{ render_html(jumbotron.html) }}
	        <p><a class="btn btn-primary btn-lg btn-start" role="button">시작하기</a></p>
	      </div>
	    </div>
  	</div>

		<!-- Marketing messaging and featurettes
		================================================== -->
		<!-- Wrap the rest of the page in another container to center all the content. -->

		<div class="container marketing">
			{% for doc in doc_list %}
			<div class="row featurette">
				<div class="col-md-10">
					<h2 class="featurette-heading">{{ doc.title }} <span class="text-muted">{{ doc.subtitle }}</span></h2>
					<div>
						{{ render_html(doc.html) }}
					</div>
				</div>
				<div class="col-md-2">
					<img class="featurette-image img-responsive" src="#" alt="Generic placeholder image">
				</div>
			</div>
			
			<hr class="featurette-divider">
			{% endfor %}

			{{ render_disqus('trademyinfo') }}
			
			<!-- FOOTER -->
			<footer>
				<p class="pull-right"><a href="#">Back to top</a></p>
				<p>&copy; 2014
					<a href="https://twitter.com/if1live">@if1live</a> |
					<a href="https://twitter.com/TintypeMolly">@tintypemolly</a> |
					<a href="https://twitter.com/ang0123dev">@ang0123dev</a> |
					<a href="http://rigvedawiki.net/r1/wiki.php/%EA%B7%B8%EB%9F%B0%20%EA%B1%B0%20%EC%97%86%EB%8B%A4">@zzapcoder</a>
				</p>
			</footer>

		</div><!-- /.container -->


		<!-- Bootstrap core JavaScript
		================================================== -->
		<!-- Placed at the end of the document so the pages load faster -->
		<script src="{{ static_file('js/jquery-2.1.0.min.js') }}"></script>
		<script src="{{ static_file('bootstrap/js/bootstrap.min.js') }}"></script>
		<script src="{{ static_file('js/holder.js') }}"></script>
		<script src="{{ static_file('js/common.js') }}"></script>
	</body>
</html>
